  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                  <div class="fb-share-button" data-href="https://www.facebook.com/groups/lmd.devils.acting/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Flmd.devils.acting%2F&amp;src=sdkpreparse">Partager</a></div>
                  <div id="fb-root"></div>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ site.baseurl }}/downloads/sponsoring_devils.pdf">Dossier de sponsoring</a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
