<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">À propos</h2>
                    <h3 class="section-subheading text-muted">Ce qu'il faut savoir sur l'équipe.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Récompenses</h4>
                    {% for prize in site.prizes %}
                      {% if prize.record %}
                      <p class="text-muted"><strong>{{ prize.year }} - {{ prize.name }}</strong></p>
                      <p class="text-muted">{{ prize.ranking }}</p>
                      {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Nombreux</h4>
                    <p class="text-muted">Avec plus de <strong>20 membres actifs</strong> la Team Devils fait partie des équipe de paintball les plus actives en France.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expérience</h4>
                    <p class="text-muted">Depuis sa création en <strong>2010</strong> la Team Devils a vécu de nombreuses aventures et compte bien en vivre encore d'autres !</p>
                </div>
            </div>
        </div>
    </section>