<!-- Sponsors Section -->
    <section id="sponsors">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Nos sponsors</h2>
                  <h3 class="section-subheading text-muted">Merci à ceux qui nous soutiennent</h3>
              </div>
          </div>
          <div class="sponsors-list">
            {% for sponsor in site.sponsors %}
              <div class="sponsor">
                <a href={{ sponsor.href }}>
                  {% if sponsor.name == "Sinova" %}
                    <img style="height: 90px;" src="{{ site.baseurl }}{{ sponsor.logo }}" alt={{ sponsor.name }}>
                  {% else %}
                    <img src="{{ site.baseurl }}{{ sponsor.logo }}" alt={{ sponsor.name }}>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="promo">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h4>Être partenaire team Devils c’est : </h4>
              <p class="large text-muted">
                Soutenir un club de Paintball ambitieux.</BR>
                Donner une image jeune et dynamique à son entreprise, en l’associant à un club symbolisant les valeurs telles que l’esprit d’équipe, l’ambition et le dépassement de soi.</BR>
                Profiter d’une communication sur plusieurs canaux. Bénéficier d’avantages en nature et fiscaux
              </p>
            </div>            
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <a href="mailto:{{ site.email }}?subject=Je souhaites devenir sponsor !"><button class="btn btn-xl">Devenir sponsor</button></a>
            </div>
          </div>
        </div>
    </section>
